
# Log files
*.log*

# Editor directories and files
*.js
*.map

#custom
# package-lock.json
bin/*

.DS_Store
node_modules
!.gitkeep


# Client
!client/webpack.main.additions.js
!client/webpack.renderer.additions.js
client/dist
client/build
client/cache
client/ignored

